@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light;
  }

  html[data-mode="dark"] {
    color-scheme: dark;
  }

  body {
    @apply bg-background text-foreground-primary font-body text-base leading-base antialiased;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
